In [1]:
# Importing Required libraries and modules:

import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# importing intial data:

DF = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/NLP/Twitter_Sentimental_Analysis-main/Excel/twitter_tweets.csv")

In [ ]:
DF.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [5]:
DF.shape

(74681, 4)

In [6]:
# Renaming the columns to provide proper Names:

DF.rename(columns = {"im getting on borderlands and i will murder you all ,":"Message", "Positive":"Ratings"}, inplace = True)

In [7]:
# Picking up only relevant columns of the intial Dataframe as new dataframe for further operations:

df = DF[["Ratings", "Message"]]

In [8]:
# Checking and replacing the values in Ratings columns to integers based on their Intensity:

df["Ratings"].unique()

array(['Positive', 'Neutral', 'Negative', 'Irrelevant'], dtype=object)

In [9]:
df["Ratings"] = df["Ratings"].replace(['Positive', 'Neutral', 'Negative', 'Irrelevant'],[3,2,1,0])

<ipython-input-9-bfb49b3a8ef4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Ratings"] = df["Ratings"].replace(['Positive', 'Neutral', 'Negative', 'Irrelevant'],[3,2,1,0])

In [10]:
# Checking for and dropping the null values:

df.isnull().sum()

Ratings      0
Message    686
dtype: int64

In [11]:
df.dropna(inplace = True)

<ipython-input-11-d1ada024d2eb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace = True)

In [12]:
df.isnull().sum()

Ratings    0
Message    0
dtype: int64

In [13]:
# Dropping off the duplicate rows:

df.drop_duplicates(inplace = True)

<ipython-input-13-a60a0d4b8441>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace = True)

In [14]:
# Exporting the Cleaned data as CSV to use it further for Sentimental Analysis:

df.to_csv('TTSAP_Final_Data.csv')